.container {
    display: grid;
    grid-template-columns: 50% 5%   ;
    grid-template-rows: 50% 50%   ;
    background-color: black;
}
.child-1 {
    width: 200px;
    height: 200px;
    background-color: yellow;
}
.child-2 {
    width: 200px;
    height: 200px;
    background-color: yellow;
}
.child-3 {
    width: 200px;
    height: 200px;
    background-color: yellow;
}
.child-4 {
    width: 200px;
    height: 200px;
    background-color: yellow;
}
.child-5 {
    width: 200px;
    height: 200px;
    background-color: yellow;
}