body {
    display: flex;
    flex-direction: column;
}
.top {
    display: flex;
    justify-content: center;
}
.top > button {
    font-size: 25px;
    margin: 10px 10px;
}
#center {
    height: 80vh;
    background-color: aquamarine;
    display: flex;
}
.color {
    max-width: 100vh;
    max-height: 80vh;
    background-color: blue;
   
}
.bottom {
    display: flex;
    justify-content: center;
    align-items: end;
}
.bottom > button {
    font-size: 25px;
    margin: 10px 10px;
}